<mat-card>
    <mat-card-header>
        <h1 matCardTitle>Assign work item</h1>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="create()">
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>User</mat-label>
                    <mat-select formControlName="userId">
                        <mat-option *ngFor="let user of users" [value]="user.id">{{ user.userName }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>Work Item</mat-label>
                    <mat-select formControlName="workItems" multiple>
                        <mat-option *ngFor="let workItem of workItems" [value]="workItem">
                            {{ workItem.name }} (Type: {{ workItem.workType.name }})
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </p>
            <div class="button">
                <button type="submit" mat-button [disabled]="form.invalid">Create</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
