<mat-card>
    <mat-card-title>Create your account</mat-card-title>
    <form role="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field appearance="standard">
                <mat-label>First name</mat-label>
                <input matInput type="text" formControlName="first_name" required />
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>Last name</mat-label>
                <input matInput type="text" formControlName="last_name" required />
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="standard">
                <mat-label>Email Address</mat-label>
                <input matInput formControlName="email" required />
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>Date of birth</mat-label>
                <input matInput formControlName="date_of_birth" [matDatepicker]="picker" required />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div formGroupName="address">
            <div>
                <mat-form-field appearance="standard">
                    <mat-label>Address line 1</mat-label>
                    <input matInput formControlName="line_1" />
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Address line 2</mat-label>
                    <input matInput formControlName="line_2" />
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="standard">
                    <mat-label>City</mat-label>
                    <input matInput formControlName="city" required />
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>State</mat-label>
                    <input matInput formControlName="state" required />
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="standard">
                    <mat-label>Country</mat-label>
                    <input matInput formControlName="country" required />
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Zip code</mat-label>
                    <input matInput formControlName="zip" required />
                </mat-form-field>
            </div>
        </div>

        <div>
            <mat-form-field appearance="standard">
                <mat-label>Username</mat-label>
                <input matInput formControlName="id" required />
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="standard">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" required />
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>Confirm password</mat-label>
                <input matInput type="password" formControlName="password_confirmation" required />
            </mat-form-field>
        </div>

        <p *ngIf="registrationFailed" class="error">Failed to register: {{ this.form.value.id }}</p>

        <button mat-raised-button type="submit" [disabled]="!form.valid">Register</button>
    </form>
</mat-card>
