<mat-card>
    <mat-card-title>Inbox</mat-card-title>
    <mat-card-content>
        <mat-list role="list" *ngIf="messages.length; else noMessages">
            <mat-list-item role="listitem" *ngFor="let m of messages">
                <mat-icon matListIcon>email</mat-icon>
                <h4 matLine>{{ m.sender }}</h4>
                <p matLine>
                    <span>{{ m.subject }} : {{ m.date | date }}</span>
                </p>
            </mat-list-item>
        </mat-list>

        <ng-template #noMessages>
            <h4>No message.</h4>
        </ng-template>
    </mat-card-content>
</mat-card>