<mat-card>
    <mat-card-title>Create new message</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="send()">
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>Recipients</mat-label>
                    <mat-chip-list #chipList formArrayName="recipients" required>
                        <mat-chip
                            *ngFor="let user of recipientList.controls; let i = index"
                            [selectable]="true"
                            (removed)="removeRecipient(i)"
                        >
                            {{ user.value }}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>

                        <input
                            #chipInput
                            [formControl]="recipientInputField"
                            [matAutocomplete]="chipAutocomplete"
                            [matChipInputFor]="chipList"
                            (matChipInputTokenEnd)="addRecipient($event)"
                        />
                    </mat-chip-list>

                    <mat-autocomplete #chipAutocomplete="matAutocomplete" (optionSelected)="selectedRecipient($event)">
                        <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
                            {{ user }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>Subject</mat-label>
                    <input matInput formControlName="subject" required />
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>Message</mat-label>
                    <textarea
                        matInput
                        formControlName="message"
                        cdkTextareaAutosize
                        required
                        #messageInput="matInput"
                    ></textarea>
                </mat-form-field>
            </p>
            <div class="button">
                <button type="submit" mat-button [disabled]="form.invalid">Send</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
