.widget-container {
    padding: 10px;

    .widget {
        margin: 10px;
        min-width: 300px;
        min-height: 250px;

        + .widget-wide {
            min-width: 600px;
        }
    }
}
