<button class="close-button" mat-icon-button (click)="onNoClick()">
    <mat-icon class="close-icon">close</mat-icon>
</button>
<h2 mat-dialog-title><mat-icon class="email-icon">email</mat-icon> {{ message.subject }}</h2>
<div mat-dialog-content>
    <div>Sent by: {{ message.sender }}</div>
    <div>Date: {{ message.date | date: 'medium' }}</div>
    <p class="body">{{ message.body }}</p>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="onReply()"><mat-icon>reply</mat-icon> Reply</button>
    <button mat-button [mat-dialog-close]="true" (click)="onDelete()" color="warn">
        <mat-icon>delete</mat-icon> Delete
    </button>
    <button mat-button mat-dialog-close><mat-icon>close</mat-icon> Close</button>
</div>
