<div>
    <button mat-icon-button (click)="addWeek(-1)">
        <mat-icon>navigate_before</mat-icon>
    </button>

    <mat-form-field appearance="fill">
        <mat-label>Week</mat-label>
        <mat-date-range-input [rangePicker]="picker" [dateFilter]="rangeFilter">
            <input matStartDate placeholder="Start date" [(ngModel)]="start" disabled />
            <input matEndDate placeholder="End date" [(ngModel)]="end" (dateChange)="onDateChange()" disabled />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker disabled="false"></mat-date-range-picker>
    </mat-form-field>

    <button mat-icon-button (click)="addWeek(1)">
        <mat-icon>navigate_next</mat-icon>
    </button>
</div>
